{% extends 'base_login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="login-container d-flex justify-content-center">
	<div class="login-card">
		<div class="login-card-header d-flex justify-content-center">
			<a class="nav-link" href="{{ path('user_new') }}">S'inscrire</a>/
			<p>Connexion</p>
		</div>
		<div class="login-card-body">
        	<form class="login" method="post">
				<div class="login-input-group form-group d-flex justify-content-center align-items-center">
					<div class="login-input-group-prepend col-sm-8">
					<span class="login-input-group-text"><p>Utilisateur:</p></span>
					</div>
					<input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Username" required autofocus>
				</div>
				<div class="login-input-group form-group d-flex justify-content-center align-items-center">
					<div class="login-input-group-prepend col-sm-8">
					<span class="login-input-group-text"><p>Mot de passe:</p></span>
					</div>
					<input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
				</div>
				<div class="login-form-group">
					<input type="submit" value="Se connecter" class="btn center login_btn">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
			</form>
		</div>
		<div class="login-card-footer">
		</div>
	</div>
</div>
{% endblock %}
