{% extends 'base.html.twig' %}

{% block title %}New Invitation{% endblock %}

{% block body %}
    <h1>Create new Invitation</h1>

{{ form_start(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

    <a href="{{ path('user_invitations', {'id' : user.id }) }}">back to list</a>
{% endblock %}
