{% extends 'base.html.twig' %}

{% block title %}Invitation index{% endblock %}

{% block body %}

<div class="newgame-container d-flex justify-content-center">
	<div class="newgame-card">
		<div class="newgame-card-header d-flex justify-content-center">
			<p>{{ user.username }}</p>
		</div>
		<div class="newgame-card-body">
        {% for game in user.games %}
		<div class="login-card-body">
        	{{ game.id }}
			{{ game.nom }}
		</div>
        {% endfor %}
        </div>
	</div>
</div>



{% endblock %}
