<!DOCTYPE html>

<title>New Feuille</title>

{% block body %}
    <h1>Create new Feuille</h1>

    {{ include('feuille/_form.html.twig') }}

    <a href="{{ path('feuille_index') }}">back to list</a>
{% endblock %}
